@media(orientation: portrait) and (pointer: coarse),
     (orientation: portrait) and (pointer: none) {
    .topbottom {zoom:1.8;}
    .page {zoom: 1.8;}
}

@media(orientation: landscape), (pointer: fine) {
    body {
        background-image: url('../assets/homebg.jpg');
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}

main { 
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Primary';
    box-sizing: border-box;
}

.topbottom {
    width: 100%;
    background-color: #424242;
    display: flex;
    
    align-items: center;


    a {
        text-decoration: none;
        padding: 8px;
        color:  white;
        border-radius: 5px;
    }

    a:visited {
        text-decoration: none !important;
        font-weight: bold;
        color: white;
        
    }
}

icon {
    font-family: 'Social';
    font-size: 20pt;
}

header {
    position: relative;
    height: 50px;
    box-shadow: 0px 5px 5px #00000049;
    justify-content: center;

    a:hover {
        background-color: #727272;
        box-shadow: 0px 5px 5px #00000070;
    }
}

footer {
    height: 100px;
    box-shadow: 0px -5px 5px #00000049;
    padding-left: 60px;
    padding-right: 30px;

    position: relative;
    color: #838383 !important;

    font-size: 10pt;

    a {
        color: #838383 !important;
    }
}

.page {
    margin: 20px;
    width: calc(100% - 40px);
    max-width: 1000px;
    min-height: 100vh;
    margin: 20px auto;
}




@font-face {
  font-family: 'Marker';
  src: url('../assets/BlackRavens.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Primary';
  src: url('../assets/GillSans.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Primary';
  src: url('../assets/GillSansHeavy.woff2') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Social';
  src: url('../assets/smedia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}