* {
    margin: 0;
    padding: 0;
    font-family: 'Primary';
    box-sizing: border-box;
}

.card {
    background-color: #f9f7f4;
    box-shadow: 0px 5px 10px #0000007e;
    padding: 15px;
    /*backdrop-filter: blur(5px);*/
    border-radius: 3px;
}

.topbottom {
    position: relative;
    background-color: #424242;
    color: white;
    align-items: center;
    
    width: 100%;
    gap: 20px;
    display: flex;
}

header {
    height: 50px;
    justify-content: center;
    
    box-shadow: 0px 5px 5px #00000049;
    padding: 10px;  
}   

footer {
    height: 100px;
    color: #838383 !important;
    box-shadow: 0px -5px 5px #00000049;
    padding-left: 60px;
    padding-right: 30px;

    position: relative;
}

main { 
    min-height: 100dvh;
}

body {
    background-image: url('../assets/homebg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.page {
    margin: 20px;
    width: calc(100% - 40px);
    max-width: 1000px;
    min-height: 100vh;
    margin: 20px auto;
}

icon {
    font-family: 'Social';
    font-size: 20pt;
}


a {
    color: #838383 !important;
}

a:not(nav2 a) {
    text-decoration: none !important;
    color: white;
    padding: 10px;
    border-radius: 5px;

}

a:hover:not(nav2 a){
    background-color: #727272;
    color: white !important;
    box-shadow: 0px 5px 5px #00000070;
}

a:visited {
    text-decoration: none !important;
    font-weight: bold;
    color: white;
    
}

nav2 {
    display: flex;
    gap: 10px;
}

nav2 a {
    text-decoration: none !important;
}

nav2 a:hover {
    color: white !important;
}

@font-face {
  font-family: 'Marker';
  src: url('../assets/BlackRavens.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Primary';
  src: url('../assets/GillSans.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Primary';
  src: url('../assets/GillSansHeavy.woff2') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Social';
  src: url('../assets/smedia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}